{% load static %}
{% load widget_tweaks %}
<!doctype html>
<html class="no-js" lang="en">


<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>صفحه ثبت‌نام</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'panel/images/favicon.ico' %}">

    <!-- CSS
	============================================ -->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'panel/css/vendor/bootstrap.min.css' %}">

    <!-- Icon Font CSS -->
    <link rel="stylesheet" href="{% static 'panel/css/vendor/material-design-iconic-font.min.css' %}">
    <link rel="stylesheet" href="{% static 'panel/css/vendor/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'panel/css/vendor/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'panel/css/vendor/cryptocurrency-icons.css' %}">

    <!-- Plugins CSS -->
    <link rel="stylesheet" href="{% static 'panel/css/plugins/plugins.css' %}">

    <!-- Helper CSS -->
    <link rel="stylesheet" href="{% static 'panel/css/helper.css' %}">

    <!-- Main Style CSS -->
    <link rel="stylesheet" href="{% static 'panel/css/style.css' %}">

    <!-- Custom Style CSS Only For Demo Purpose -->
    <link id="cus-style" rel="stylesheet" href="{% static 'panel/css/style-primary.css' %}">

</head>

<body dir="rtl" class="skin-dark">

    <div class="main-wrapper">

        <!-- Content Body Start -->
        <div class="content-body m-0 p-0">

            <div class="login-register-wrap">
                <div class="row">

                    <div class="d-flex align-self-center justify-content-center order-2 order-lg-1 col-lg-5 col-12">
                        <div class="login-register-form-wrap">

                            <div class="content">
                                <h1>ثبت نام</h1>
                            </div>

                            <div class="login-register-form">
                                <form method="POST" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    {{ form.subject.errors }}
                                    <div class="row">
                                        <div class="col-lg-12 col-12 mb-30">{% render_field form.username class='form-control' placeholder='نام‌کاربری' %}</div>
                                        <div class="col-lg-12 col-12 mb-30">{% render_field form.email class='form-control' placeholder='ایمیل' %}</div>
                                        <div class="col-lg-12 col-12 mb-30">{% render_field form.first_name class='form-control' placeholder='نام' %}</div>
                                        <div class="col-lg-12 col-12 mb-30">{% render_field form.last_name class='form-control' placeholder='نام‌خانوادگی' %}</div>
                                        <div class="col-lg-12 col-12 mb-30">{% render_field form.password1 class='form-control' placeholder='رمزعبور' %}</div>
                                        <div class="col-lg-12 col-12 mb-30">{% render_field form.password2 class='form-control' placeholder='تکرار رمزعبور' %}</div>
                                        <div class="col-12">
                                            <div class="row justify-content-between">
                                                <div class="col-auto mb-15">در حال حاضر حساب کاربری دارید؟ <a
                                                        href="{% url 'accounts:organizer_login' %}">هم اکنون وارد
                                                        شوید.</a></div>
                                            </div>
                                        </div>
                                        <div class="col-12 mt-10"><button
                                                class="button button-primary button-outline">ثبت نام</button></div>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>

                    <div class="login-register-bg order-1 order-lg-2 col-lg-7 col-12">
                        <div class="content">
                            <h1>ثبت نام</h1>
                        </div>
                    </div>

                </div>
            </div>

        </div><!-- Content Body End -->

    </div>

    <!-- JS
============================================ -->

    <!-- Global Vendor, plugins & Activation JS -->
    <script src="{% static 'panel/js/vendor/modernizr-3.6.0.min.js' %}"></script>
    <script src="{% static 'panel/js/vendor/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'panel/js/vendor/popper.min.js' %}"></script>
    <script src="{% static 'panel/js/vendor/bootstrap.min.js' %}"></script>
    <!--Plugins JS-->
    <script src="{% static 'panel/js/plugins/perfect-scrollbar.min.js' %}"></script>
    <script src="{% static 'panel/js/plugins/tippy4.min.js.js' %}"></script>
    <!--Main JS-->
    <script src="{% static 'panel/js/main.js' %}"></script>

</body>


</html>